<!-- index.html.j2 -->
<!DOCTYPE html>
<html>
<head>
    <title>Local IP Address</title>
</head>
<body>
    <h1>Local IP Address of this instance:</h1>
    <p>{{ ansible_default_ipv4.address }}</p>
</body>
</html>
